@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #422c71;
  font-family: 'Open Sans', 'sans-serif';
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-left: 5px solid #a18cce60;
  border-right: 5px solid #a18cce60;
}

.genre {
  font-style: italic;
}

@media screen and (max-width: 640px) {
  body {
    border: none;
    margin: 0px;
  }
}
